/* ////////////////////////////////////////////////////////////////// COLOURS //////////////////////////////////////////////////////////////////////// */

/*
	#EBECE8 - off white           - light shade    - text color
	#1B95AD - eastern blue        - light accent   - brings attention to design elements
	#5F6576 - shuttle gray        - eye catching   - main identy color
	#E03A80 - cerise (pink)       - bright accent  - alternative to light accent
	#95E474 - pastel  green       - bright accent  - alternative to light accent
	#E5D752 - confetti (orange)	  - bright accent  - alternative to light accent
	#26272A - shark blue          - base shade     - main background color
	#1a1a1c - shade of shark blue - dark shade     - interface elements
	#333438 - shade of shark blue - light shade    - interface elements
	#3C3D45 - shade of shark blue - lightest shade - interface elements
	#1B95AD - eastern blue        - default link color
	#10cff4 - bright turquoise    - hover / active link color

*/

/* ////////////////////////////////////////////////////////////////// BREAK POINTS //////////////////////////////////////////////////////////////////////// */

/*

tablet
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {  }
tablet portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
tablet landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {  }
mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { }
mobile portrait
@media only screen and (max-device-width : 320px) { }
mobile landscape
@media only screen and (min-device-width : 321px) { }
*/



/* ////////////////////////////////////////////////////////////////// FONTS //////////////////////////////////////////////////////////////////////// */

/*
font-family: 'Raleway', sans-serif;
font-family: 'Raleway', 400;
font-family: 'Raleway', 400i;
font-family: 'Raleway', 700;
font-family: 'Raleway', 700i;
font-family: 'Vollkorn', serif;
font-family: 'Vollkorn', 400;
font-family: 'Vollkorn', 400i;
font-family: 'Vollkorn', 700;
font-family: 'Vollkorn', 700i;
*/

/* ////////////////////////////////////////////////////////////////// END FONTS //////////////////////////////////////////////////////////////////// */



html, body{
	background-color:#ffffff;
	width:100%;
	height:100%;
}

.app-container{
	width:100%;
}


/* ////////////////////////////////////////////////////////////////// ALL ANIMATIONS //////////////////////////////////////////////////////////////////////////// */


/* top nav */

.animate_topnav {
  	animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

/* general */

.animate_page{
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.animate_pretitle{
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.animate_title{
	animation: fadein 2.5s;
    -moz-animation: fadein 2.5s; /* Firefox */
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -o-animation: fadein 2.5s; /* Opera */
}
.animate_linehr{
	animation: growin 2.8s;
    -moz-animation: growin 2.8s; /* Firefox */
    -webkit-animation: growin 2.8s; /* Safari and Chrome */
    -o-animation: growin 2.8s; /* Opera */
}
.animate_body{
	animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
.animate_button{
	animation: fadein 3.1s;
    -moz-animation: fadein 3.1s; /* Firefox */
    -webkit-animation: fadein 3.1s; /* Safari and Chrome */
    -o-animation: fadein 3.1s; /* Opera */
}

/* home page */

/* team profile page */

.animate_teampageprofilecardimg1{
	animation: fadein 1.8s;
    -moz-animation: fadein 1.8s; /* Firefox */
    -webkit-animation: fadein 1.8s; /* Safari and Chrome */
    -o-animation: fadein 1.8s; /* Opera */
}
.animate_teampageprofilecardimg2{
	animation: fadein 1.8s;
    -moz-animation: fadein 1.8s; /* Firefox */
    -webkit-animation: fadein 1.8s; /* Safari and Chrome */
    -o-animation: fadein 1.8s; /* Opera */
}
.animate_profilebodyimg{
	animation: fadein 3.1s;
    -moz-animation: fadein 3.1s; /* Firefox */
    -webkit-animation: fadein 3.1s; /* Safari and Chrome */
    -o-animation: fadein 3.1s; /* Opera */
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0; }
    100% { opacity:0; }
}

@keyframes growin {
	0% { left:-20px; opacity:0; }
	66% {left:-20px; opacity:0;}
	100% {left:0px; opacity:1; }
}

/* ////////////////////////////////////////////////////////////////// TOP MAIN NAV ////////////////////////////////////////////////////////////////////////////// */

.topnav{
	background-color:#ffffff;
	border-color:transparent;
	border-radius: 0px;
	margin-bottom: 0px;
}

.topnavcollapse{
	background-color:#ffffff;
	border-color:#ffffff;
	border-radius: 0px;
}

.topnavlogo{
	font-family: 'Playfair Display', serif;
	font-weight:900;
	color:#000000!important;
	font-size:30px;
	letter-spacing:2px;
}

.topnavmenu{
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	color:#000000!important;
	font-size:14px;
	letter-spacing:0px;
	margin-top: 6px;
    height: 54px;
}
.topnavlinks{

	color:#000000!important;
	text-decoration: none;
	transition: .5s ease;
}

.topnavlinks::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    /*-webkit-transition: all 400ms width cubic-bezier(0.860, 0.000, 0.070, 1.000); 
   	-moz-transition: 	all 400ms width cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    -o-transition: 		all 400ms width cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    transition: 		all 400ms width cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.topnavlinks:hover{
	text-decoration: none;
	opacity:.5;
}

.topnavlinks:active{
	content: '';
    display: block;
    height: 2px;
    background: #000;
    width:100%;
}

.topnavlinks:hover::after {
    width: 100%;
}

.topnavItem{
	list-style:none;
}

.mainNavigationLinkIcons{
	font-size:20px;
}

/* left side main nav buttons */
.mainNavigationLinks > li > a {
	text-align:center;
	color: #1B95AD;
	height:70px;
	padding:10px 0px;
}

.mainNavigationLinks > li > a:focus {
	color: #10cff4;
	background-color:transparent;
}
.mainNavigationLinks > li > a:hover {
	color: #10cff4;
	background-color:transparent;
}

.mainNavigationLinks > li > a:active {
	color: #10cff4;
	background-color:transparent;
}

/* ////////////////////////////////////////////////////////////////// END TOP MAIN NAV /////////////////////////////////////////////////////////////////////////// */












/* ////////////////////////////////////////////////////////////////// LEFT SIDE MAIN NAV ///////////////////////////////////////////////////////////////////////// */

.mainNavigationLogo{
	margin-left:-14px;
}

.mainNavigationLinkIcons{
	font-size:20px;
}

/* left side main nav buttons */
.mainNavigationLinks > li > a {
	text-align:center;
	color: #1B95AD;
	height:70px;
	padding:10px 0px;
}

.mainNavigationLinks > li > a:focus {
	color: #10cff4;
	background-color:transparent;
}
.mainNavigationLinks > li > a:hover {
	color: #10cff4;
	background-color:transparent;
}

.mainNavigationLinks > li > a:active {
	color: #10cff4;
	background-color:transparent;
}

/* ////////////////////////////////////////////////////////////////// END - LEFT SIDE MAIN NAV ///////////////////////////////////////////////////////////////////// */










/* ////////////////////////////////////////////////////////////////// MISC. INTERFACE ELEMENTS /////////////////////////////////////////////////////////////////// */

.roundedBr {
    border-radius: 50%;
}

.softShadow {
	-webkit-box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
}

/* ////////////////////////////////////////////////////////////////// MAIN CONTENT AREA ///////////////////////////////////////////////////////////////////////// */

.mainContentArea {
	/*background-color:#5F6576;*/
}

.mainContentArea_navContainer{
	width:100%;
	height:40px;
	background-color:#1a1a1c;
}

.mainContentArea_navItem{
	list-style:none;
}
.mainContentArea_navLink{
	margin-left:20px;
	font-size:14px;
	color:#3C3D45;
}

/* ////////////////////////////////////////////////////////////////// END - MAIN CONTENT AREA ///////////////////////////////////////////////////////////////////// */







/* ////////////////////////////////////////////////////////////////// HOME PAGE /////////////////////////////////////////////////////////////////////////////////// */

.homepage{
	width:100%;
	height: calc(100vh - 62px);
	background: url('/src/images/backgrounds/mountain_1.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.fillcol1{
	background-color:blue;
}
.fillcol2{
	background-color:orange;
}
.fillcol_bg{
	background-color:#ffffff;
}
.fillrow1{
	background-color:#cccccc;
}
.fillrow2{
	background-color:#d3d3d3;
}
.homepageText{
	position: absolute;
	top: 40%; 
	bottom: 0; 
	left: 0; 
	right: 0;
}
.homepagePretitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	font-style:italic;
	color:#ffffff;
}
.homepageTitle{
	font-family: 'Vollkorn';
	font-size:50px;
	font-weight:400;
	color:#ffffff;
	white-space: pre;
	/*padding-top:16px;
	padding-bottom:16px;*/
}

.homepageSubtitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	color:#ffffff;
}
.homepageTitleLineHr{
	margin-left: -15px;
    width:100px;
	height:2px;
	border:none;
	/*text-align:center; */
	margin-top:40px;
	color:#E03A80;
	background-color:#E03A80;
}
.homepageBody{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#ffffff;
	margin-top:26px;
	white-space: pre;
}
.homepageButton {
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#95E474;
	width:104px;
	margin-top:16px;
	white-space: pre;
	letter-spacing:1px;
  	transition: .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  	-webkit-box-shadow: inset 0px 0 0 0 #95E474;
  	-moz-box-shadow: inset 0px 0 0 0 #95E474;
  	-ms-box-shadow: inset 0px 0 0 0 #95E474;
  	-o-box-shadow: inset 0px 0 0 0 #95E474;
  	box-shadow: inset 0px 0 0 0 #95E474;
  	overflow: hidden;
}
.homepageButton:hover {
	color:#333438;
  	-webkit-box-shadow: inset 103px 0 0 0 #95E474;
  	-moz-box-shadow: inset 103px 0 0 0 #95E474;
  	-ms-box-shadow: inset 103px 0 0 0 #95E474;
  	-o-box-shadow: inset 103px 0 0 0 #95E474;
 	box-shadow: inset 103px 0 0 0 #95E474;
 	padding-left:5px;
 	cursor: pointer;

}

/* ////////////////////////////////////////////////////////////////// TEAM PAGE - INDEX /////////////////////////////////////////////////////////////////////////// */

/* title */
.teampageIndexPretitle{
	font-family: 'Droid Serif';
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	color:#3C3D45;
}
.teampageIndexTitle{	
	font-family: 'Roboto Condensed', sans-serif;
	font-size:40px;
	color:#EBECE8;
	text-align:center;
	margin-top:16px;
	margin-bottom:10px;
}
.teampageIndexSubtitle{
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#3C3D45;
}

.teampageIndexTitleLineHr{
	width:50px;
	height:3px;
	border:none;
	text-align:center; 
	margin-top:40px;
	color:#E03A80;
	background-color:#E03A80;
}

/* menu */

.teampageMenu{
	/*position:relative;
	width:100%;
	height:100px;*/
	/*background-color:#1a1a1c;*/
	padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* cards */
.teampageCardBg {
    position: relative;
    margin-top:30px;
}

.teampageCardBg:hover .teampageCardImg {
	-webkit-filter: brightness(.20) grayscale(70%);
	filter: brightness(.20) grayscale(70%);
}

.teampageCardBg:hover .teampageCardBody {
	opacity: 1;
}

.teampageCardImg{
	display: block;
	-webkit-filter: brightness(1) grayscale(0%);
	filter: brightness(1) grayscale(0%);
	transition: .5s ease;
}

.teampageCardBody{
	padding-top:30px;
	transition: .5s ease;
  	opacity: 0;
  	position:absolute;
  	/*top: 1.5%;
  	left: 2%;
  	width:96%;
  	height:97%;*/
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	/*background:#1a1a1c;*/
  	border-bottom:solid;
  	border-width:1px;
  	border-color:#10cff4;
  	/*background: rgb(255,255,255);  Fall-back for browsers that don't
                                    support rgba 
    background: rgba(255,255,255, 1);*/
}

.teampageCardBodyTxt{
	position:absolute;
	bottom:15px;
	left:10px;
}

.teampageCardBg:hover .teampageCardBodytxtTitle {
	transform: translateY(-10px);
}
.teampageCardBg:hover .teampageCardBodytxtSubtitle {
	transform: translateY(-12px);
}
.teampageCardBg:hover .teampageCardBodytxtText {
	transform: translateY(-14px);
}
.teampageCardBg:hover .teampageCardBodybuttonContainer {
	transform: translateY(-16px);
}

.teampageCardBodytxtTitle{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:26px;
	text-transform: uppercase;
	color:#EBECE8;
	margin-top:10px;
	margin-bottom:5px;
	transition: .8s ease;
}

.teampageCardBodytxtSubtitle{
	font-family: 'Droid Serif';
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	color:#5F6576;
	margin-top:12px;
	transition: .9s ease;
}

.teampageCardBodytxtText{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#5F6576;
	margin-top:14px;
	transition: 1s ease;
}

.teampageCardBodybuttonContainer{
	margin-top:16px;
	transition: 1.1s ease;
}

.teampageCardBodytxtNavitem:hover{
	 transform: scale(1.4);
	 background-color:#E03A80;
}

.teampageCardBodytxtNavitem{
	height: 30px;
  	width: 30px;
  	border-radius: 50%;
	list-style:none;
  	background-color:#1B95AD;
	-webkit-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

.teampageCardBodytxtButton{
	font-size: 20px;
    margin-left: 9px;
    margin-top: 6px;
}

/* ////////////////////////////////////////////////////////////////// END - TEAM PAGE /////////////////////////////////////////////////////////////////////////// */




/* ////////////////////////////////////////////////////////////////// TEAM PAGE - PROFILE /////////////////////////////////////////////////////////////////////// */

@-webkit-keyframes shake {
    0% {
        left: 0;
    }
    25% {
        left: 12px;
    }
    50% {
        left: 0;
    }
    75% {
        left: -12px;
    }
    100% {
        left:0;
    }
}

.teampageMember{
	margin-left: 15px;
    margin-right: 15px;
}

.teampageProfileCardBg {
    overflow:hidden;
}

.teampageProfileCardImg1{
	display: block;
	-webkit-filter: brightness(1) grayscale(0%);
	filter: brightness(1) grayscale(0%);
	transition: .5s ease;
	position: relative;
    margin-top: 0px;
    height: calc(100vh - 124px);
}

.teampageProfileCardBody{
	padding-top:30px;
	transition: .5s ease;
  	opacity: 0;
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	border-bottom:solid;
  	border-width:1px;
  	border-color:#10cff4;
}

.teampageProfileCardBodyTxt{
	position:absolute;
	bottom:15px;
	left:10px;
}

.profilePretitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	font-style:italic;
	color:#000000;
}
.profileTitle{
	font-family: 'Vollkorn';
	font-size:50px;
	font-weight:400;
	color:#000000;
	white-space: pre;
}

.profileSubtitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	color:#000000;
}
.profileTitleLineHr{
	margin-left: 0px;
    width:100px;
	height:2px;
	border:none;
	margin-top:30px;
	margin-bottom:50px;
	color:#E03A80;
	background-color:#E03A80;
}
.profileBodyImg{
	margin-left:-15px;
}
.profileBodyTitle{
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#000000;
	margin-top:0px;
	padding-left:40px;
	padding-right: 20px;
}
.profileBody{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin-top:20px;
	padding-left:40px;
	padding-right: 20px;
	white-space: normal;
}
.profileButton {
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#1B95AD;
	width:104px;
	margin-top:46px;
	margin-left:40px;
	white-space: pre;
	letter-spacing:1px;
  	transition: .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  	-webkit-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-moz-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-ms-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-o-box-shadow: inset 0px 0 0 0 #1B95AD;
  	box-shadow: inset 0px 0 0 0 #1B95AD;
  	overflow: hidden;
}
.profileButton:hover {
	color:#EBECE8;
  	-webkit-box-shadow: inset 103px 0 0 0 #1B95AD;
  	-moz-box-shadow: inset 103px 0 0 0 #1B95AD;
  	-ms-box-shadow: inset 103px 0 0 0 #1B95AD;
  	-o-box-shadow: inset 103px 0 0 0 #1B95AD;
 	box-shadow: inset 103px 0 0 0 #1B95AD;
 	padding-left:5px;
 	cursor: pointer;
}

.profileswitchButton{

  text-decoration: none;
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#1B95AD;
	margin-right: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
	float:right;
	white-space: pre;
	letter-spacing:1px;
  	transition: .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  	-webkit-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-moz-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-ms-box-shadow: inset 0px 0 0 0 #1B95AD;
  	-o-box-shadow: inset 0px 0 0 0 #1B95AD;
  	box-shadow: inset 0px 0 0 0 #1B95AD;
  	overflow: hidden;
}

.profileswitchButtonNavItem{

  text-decoration: none;
	height: 30px;
  	width: 30px;
  	border-radius: 50%;
	list-style:none;
  	/*background-color:#1B95AD;*/
  	border: 1px solid #1b95ad;
  	overflow:hidden;
	-webkit-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

.animbtn1 span {
  color: #1b95ad;
  text-decoration: none;
  text-align: center;
  display: inline;
  padding-left: 20px;
  text-decoration: none;
}

.animbtn1, .animbtn2 {
  -webkit-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.animbtn1 {
  height: 64px;
  width: 200px;
  overflow: hidden;
  text-decoration: none;
}

.animbtn2{
  margin-left: -105px;
  text-decoration: none;
}

.animbtn1:hover .animbtn2{
  margin-left: -41px;
  text-decoration:none;
}
.profileswitchButtonNavItem:hover{
	transform: scale(1.4);
	background-color:#1b95ad;
}
.profileswitchButtonNavItem:hover .profileswitchButtonArrow{
	color:#ffffff;

}

.profileswitchButtonArrow{
	font-size: 16px;
    margin-left: 11px;
}

a {
	text-decoration: none!important;
}
a:hover{
	text-decoration:none!important;
} 
a:visited {
	text-decoration:none!important;
} 
a:active{
	text-decoration:none!important;
} 






.headline {
  color: #ffffff;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}
/*.links {
	color: #3C3D45;
	text-decoration: underline;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	margin-bottom:0px;
}*/

h1.page-header {
    margin-top: -5px;
}

.sidebar {
	padding-left: 0;
}

.main-container { 
	background: #FFF;
	padding-top: 15px;
	margin-top: -20px;
}

.footer {
	width: 100%;
}  

:focus {
	outline: none;
}

/* Main body section */
.side-body {
	margin-left: 310px;
}*/
/* small screen */
@media (max-width: 768px) {
	.side-menu {
		position: relative;
		width: 100%;
		height: 0;
		border-right: 0;
	}

	.side-menu .navbar {
		z-index: 999;
		position: relative;
		height: 0;
		min-height: 0;
		background-color:none !important;
		border-color: none !important;
	}
	.side-menu .brand-name-wrapper .navbar-brand {
		display: inline-block;
	}
	/* Slide in animation */
	@-moz-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-webkit-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-moz-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@-webkit-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	
	@-moz-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-webkit-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-moz-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@-webkit-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	
	/* Hamburger */
	.navbar-toggle-sidebar {
		border: 0;
		float: left;
		padding: 18px;
		margin: 0;
		border-radius: 0;
		background-color: #f3f3f3;
	}
	/* Search */
	#search .panel-body .navbar-form {
		border-bottom: 0;
	}
	#search .panel-body .navbar-form .form-group {
		margin: 0;
	}
	.side-menu .navbar-header {
		/* this is probably redundant */
		position: fixed;
		z-index: 3;
		background-color: #f8f8f8;
	}
	/* Dropdown tweek */
	#dropdown .panel-body .navbar-nav {
		margin: 0;
	}
}



/* ////////////////////////////////////////////////////////////////// BLOG /////////////////////////////////////////////////////////////////////// */

.blogAddPhoto{

}

/* //////////////////////////////////////////////////////////////// CONTACT ////////////////////////////////////////////////////////////////////// */

/* */

.contactpage{
	/*width:100%;
	height: calc(100vh - 62px);
	background: url('/src/images/backgrounds/mountain_1.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;*/
}

.contactpageText{
	position: absolute;
	top: 30%; 
	bottom: 0; 
	left: 0; 
	right: 0;
}
.contactpagePretitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	font-style:italic;
	color:#000000;
}
.contactpageTitle{
	font-family: 'Vollkorn';
	font-size:50px;
	font-weight:400;
	color:#000000;
	margin-bottom: 40px;
}

.contactpageSubtitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	color:#000000;
}
.contactpageTitleLineHr{
	margin-left: 0px;
    width:50px;
	height:2px;
	border:none;
	margin-top:40px;
	color:#E03A80;
	background-color:#E03A80;
}
.contactpageBody1{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin-top:26px;
	white-space: pre;
}
.contactpageBody2{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin-top:26px;
}
.contactpageButton {
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#95E474;
	width:140px;
	margin-top:40px;
	white-space: pre;
	letter-spacing:1px;
  	transition: .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  	-webkit-box-shadow: inset 0px 0 0 0 #95E474;
  	-moz-box-shadow: inset 0px 0 0 0 #95E474;
  	-ms-box-shadow: inset 0px 0 0 0 #95E474;
  	-o-box-shadow: inset 0px 0 0 0 #95E474;
  	box-shadow: inset 0px 0 0 0 #95E474;
  	overflow: hidden;
}
.contactpageButton:hover {
	color:#333438;
  	-webkit-box-shadow: inset 140px 0 0 0 #95E474;
  	-moz-box-shadow: inset 140px 0 0 0 #95E474;
  	-ms-box-shadow: inset 140px 0 0 0 #95E474;
  	-o-box-shadow: inset 140px 0 0 0 #95E474;
 	box-shadow: inset 140px 0 0 0 #95E474;
 	padding-left:5px;
 	cursor: pointer;
}

.contactpageMobile{
	display:none;
}

.contactpageDesktop{
	display:block;
}


/* /////////////////////////////////////////////////////////////////// END CONTACT ///////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////////////// CAPABILITY ///////////////////////////////////////////////////////////////////////////// */


.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.cross-fade-height {
  transition: height .5s ease-in-out;
}


/* */

.capabilitypage{
	/*width:100%;
	height: calc(100vh - 62px);
	background: url('/src/images/backgrounds/mountain_1.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;*/
}

.capabilitypageText{
	position: absolute;
	top: 30%; 
	bottom: 0; 
	left: 0; 
	right: 0;
}
.capabilitypagePretitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	font-style:italic;
	color:#000000;
}
.capabilitypageTitle{
	font-family: 'Vollkorn';
	font-size:50px;
	font-weight:400;
	color:#000000;
	margin-bottom: 40px;
}

.capabilitypageSubtitle{
	font-family: 'Vollkorn';
	font-size:16px;
	font-weight:400;
	color:#000000;
}
.capabilitypageTitleLineHr{
	margin-left: 0px;
    width:50px;
	height:2px;
	border:none;
	margin-top:40px;
	color:#E03A80;
	background-color:#E03A80;
}
.capabilitypageBody1{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin-top:26px;
	white-space: pre;
}
.capabilitypageBody2{
	font-family:'Raleway', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin-top:26px;
}
.capabilitypageButton {
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#95E474;
	width:140px;
	margin-top:40px;
	white-space: pre;
	letter-spacing:1px;
  	transition: .4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  	-webkit-box-shadow: inset 0px 0 0 0 #95E474;
  	-moz-box-shadow: inset 0px 0 0 0 #95E474;
  	-ms-box-shadow: inset 0px 0 0 0 #95E474;
  	-o-box-shadow: inset 0px 0 0 0 #95E474;
  	box-shadow: inset 0px 0 0 0 #95E474;
  	overflow: hidden;
}
.capabilitypageButton:hover {
	color:#333438;
  	-webkit-box-shadow: inset 140px 0 0 0 #95E474;
  	-moz-box-shadow: inset 140px 0 0 0 #95E474;
  	-ms-box-shadow: inset 140px 0 0 0 #95E474;
  	-o-box-shadow: inset 140px 0 0 0 #95E474;
 	box-shadow: inset 140px 0 0 0 #95E474;
 	padding-left:5px;
 	cursor: pointer;
}

.capabilitypageMobile{
	display:none;
}

.capabilitypageDesktop{
	display:block;
}


/* /////////////////////////////////////////////////////////////////// END CONTACT ///////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////////////////////////////////////// */


/*.teampageprofilecardimg2{
	display:none;
}*/

/* bigger than tablet */
@media (min-width : 768px){  
	.mainNavigation {
   		width: inherit;
	    min-width: 70px;
	    max-width: 70px;
	    min-width: 80px;
	    max-width: 80px;
	    height: calc(100vh);
	    /* margin-top: 40px; */
	    background-color: #26272A;
	    position: relative;
  	}
  	.mainContentArea {
  		width:calc(100% - 70px);
  		/*background-color:#ffff00;*/
  		width:calc(100% - 80px);
  	}
}

/* between tablet and large desktop */
@media (max-width : 1200px){
	.profileTitle{
		white-space: normal;
	}

	.contactpageTitle{
		white-space: pre;
	}

	.contactpageMobile{
		display:block;
	}

	.contactpageDesktop{
		display:none;
	}
}

/* on specific breakpoint (992px) */
@media (max-width : 992px){
	.contactpageText{
	 	top: 20%; 
	}

	.contactpageTitle{
		margin-bottom: 0px;
	}
	.contactpageTitleLineHr{
		margin-top:0px;
	}
	.contactpageButton {
		margin-bottom:40px;
		margin-top:20px;
	}
}

/* mobile to tablet */
@media (max-width: 768px){
	.mainNavigation {
    	width: inherit;
    	background-color:#1a1a1c;
    	position:relative;
  	}
	.homepage{
		height: calc(100vh - 52px);
	}
	.teampageprofilecardimg1{
  		display:none;
	}

	.profilePretitle{
		padding-left:15px;
		padding-right:15px;
	}
	.profileTitle{
		padding-left:15px;
		padding-right:15px;
	}

	.profileSubtitle{
		padding-left:15px;
		padding-right:15px;
	}
	.profileTitleLineHr{
		padding-left:15px;
		padding-right:15px;
		margin-left:15px;
	}
	.profileBodyImg{
		margin-left:0px;
	}
	.profileBodyTitle{
		padding-left:15px;
		padding-right:15px;
		padding-top:30px;
	}
	.profileBody{
		padding-left:15px;
		padding-right:15px;
	}
	.profileButton {
		margin-left:15px;
		margin-top: 20px;
		margin-bottom:50px;
		width: 125px;
	}

	.profileButton:hover {
		padding-left:15px;
		color:#EBECE8;
  	}
}

/* pure mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){ 
	.topnavlogo{
		font-size:18px;
		letter-spacing:1px;
	}
}



/* ////////////////////////////////////////////////////////////////// END MEDIA QUERIES //////////////////////////////////////////////////////////////////// */

